.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.footer {
  position: absolute;
  bottom: 5rem;
}

.text {
  font-size: 1.75rem;
  color: #808080;
}