@import '../../styles/variables';

.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3rem;
  width: 100vw;
}

.dark {
  background-color: $background-color-dark;
  p {
    font-size: $footer-text-size;
    color: $text-color-dark;
  };
  span {
    font-size: large;
  }
}

.light {
  background-color: $background-color-light;
  p {
    font-size: $footer-text-size;
    color: $text-color-light;
  };
  span {
    font-size: large;
  }
}